#one{
    background-color: chartreuse;
    text-align: center;
background-repeat: no-repeat;

}
#two{
    background-color: aqua;
    text-align: center;
}
#three{
    background-image: url("images/hs.jpeg");
}
.one{

}